In [ ]:
#import numpy as np
i#mport pandas as pd

#import matplotlib.pyplot as plt
#from IPython.display import Image

#from scipy import *
#import scipy.linalg as la

friends=[ 'Joseph','Glenn', 'Sally']
carryon=[ 'socks','shirt', 'perfume'] #collection
print (friends)
print (carryon)

x=2
x="HELLO"
x=4  #not collection
print(x)

print(1,24,76)
print('red','yellow','blue')
print['red',24,98.6]
print[1,[5,6],7]
print[]

SyntaxError: ignored

In [ ]:
for i in [5,4,3,2,1]:
  print (i)
print ('Blastoff!')

5
4
3
2
1
Blastoff!

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
  print ('Happy New Year:', friend)
print('Done')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done

In [ ]:
friends=['Joseph','Glenn','Sally']
print (friends[1])

Glenn

In [ ]:
fruit = 'Banana'
#fruit[0] = 'b'  #error since string is immutable
#print (fruit)
x= fruit.lower()
print(x)


lotto = [2,14,26,41,63]
print(lotto)
lotto[2] = 28 #lists are mutable
print(lotto)
lotto[4] = nida
print(lotto)

banana
[2, 14, 26, 41, 63]
[2, 14, 28, 41, 63]

NameError: ignored

In [ ]:
greet = 'Hello Bob'
print (len(greet))

x=[1,2,'joe',99]
print (len(x))

9
4

In [ ]:
print (range(4))

range(0, 4)

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for i in range(len(friends)):
  friend= friends[i]
  print ('Happy New Year:', friend)

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally

In [ ]:
a=[1,2,3]
b=[4,5,6]
c= a + b
print (c)
d= [7,8]
e= c + d
print(e)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#slicing
t=[9,41,12,3,74,15]
t[1:3]
#t[:4]
#t[3:]
#t[:]
t[0:5:2]
t[::2]

[9]

In [ ]:
x=[1,2,3]
type(x)
dir(x)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
stuff = list()
stuff.append('book')
stuff.append(99)
print(stuff)
stuff.append('cookie')
print(stuff)
stuff.remove(99)
print(stuff)

['book', 99]
['book', 99, 'cookie']
['book', 'cookie']

In [ ]:
some=[1,9,21,10,16]
9 in some
5 in some
20 not in some
21 not in some
some.append('Nida')
'Nida' in some
'Nida' not in some

False

In [ ]:
friends.sort()
print (friends)
print(friends[1])
friends.append(1)
print(friends)
friends.sort()
print(friends)

['Glenn', 'Joseph', 'Sally']
Joseph
['Glenn', 'Joseph', 'Sally', 1]

TypeError: ignored

In [ ]:
a= [1,4,3]
a.sort()
print(a)

[1, 3, 4]

In [ ]:
b= [34,2,5,'banana','apple']
b.sort()
print(b)

TypeError: ignored

In [ ]:
nums=[3,41,12,9,74,15]
print (len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
74
3
154
25.666666666666668

In [ ]:
abc='With three words'
stuff= abc.split()
print(stuff)
print(len(stuff))
print(stuff[0])

['With', 'three', 'words']
3
With

In [ ]:
em="nidafathima@gmail.com"
em1=em.split("@")
print(em1)

['nidafathima', 'gmail.com']

In [ ]:
line = 'A lot                     of spaces'
etc = line.split()
print (etc)
line= 'first;second;third;fourth'
thing= line.split(';')
print(thing)
print(len(thing))

['A', 'lot', 'of', 'spaces']
['first', 'second', 'third', 'fourth']
4